<html>
    <head>
        <title></title>
    </head>
    <body>
        <form action="/" method="POST">
            Username : <input id="username" type="text" name="username"><br>
            Password : <input id="password" type="password" name="password"><br>
            <a href=# id=test><button class='btn btn-default'>login</button></a>
            <button id="submitBtn"><a  href="{{ url_for('login') }}">login</a></button>
            <script>
                document.querySelector("#submitBtn").addEventListener("click", () => {
                    const userValue = document.querySelector('#username').value;
                    const passwordValue = document.querySelector('#password').value;
                    console.log(userValue);
                    console.log(passwordValue);
                })
            </script>
        </form>
        <h1>refael</h1>
    </body>
</html>