<html>
    <head>
        <title></title>
    </head>
    <body>
        <form action="/login" method="POST">
            namespace : <input id="username" type="text" name="namespace"><br>
            chartname : <input id="username" type="text" name="chartname"><br>
            host : <input id="username" type="text" name="host"><br>
            repo : <input id="username" type="text" name="repo"><br>
            tag : <input id="username" type="text" name="tag"><br>
            reg : <input id="username" type="text" name="reg"><br>
            branch : <input id="username" type="text" name="usernabranchme"><br>
            homedir : <input id="password" type="text" name="homedir"><br>
            <button onclick="location.href = '/login';" >run</button>
        </form>
    </body>
</html>
